.LongCourse__block {
    padding: 32px 0;
}

.LongCourse__block-info {
    display: flex;
}

.LongCourse__block-info__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}

.Devider + .LongCourse__block-info__title {
    margin-top: 32px;
}

.LongCourse__block-info__cost {
    margin-left: 8px;
}

.LongCourse__block-info__course {
    padding: 32px 32px 32px calc(5% + 30px);
    width: calc(60% - 32px - calc(5% + 30px));
    border-right: 1px solid var(--dark-1);

    display: flex;
    flex-direction: column;
}

.LongCourse__block-info__course ul {
    list-style-type: square;
    margin-bottom: 32px;
}

.LongCourse__block-info__course ol {
    margin-bottom: 32px;
}

.LongCourse__block-info__course ul li,
.LongCourse__block-info__course ol li{
    margin-bottom: 8px;
}

.LongCourse__block-info__ps {
    margin-top: 16px;
    font-size: 14px;
    line-height: 14px;
}

.LongCourse__block-info__main {
    margin-top: 16px;
}

.LongCourse__block-info__main i {
    margin-right: 8px;
}

.LongCourse__block-info__course .Devider {
    align-self: center;
}

.LongCourse__block-info__summary + .Devider {
    margin-top: 32px;
}

.LongCourse__block-info__summary .Page__block__text__info {
    font-size: 16px;
}

.LongCourse__block-info__author {
    display: flex;
    flex-direction: column;
    padding: 32px calc(5% + 30px) 32px 32px;
    background-color: var(--light-2);
    width: calc(40% - 32px - calc(5% + 30px));

    align-items: center;
}

.LongCourse__block-info__author .LongCourse__block-info__title {
    align-self: flex-start;
}

.LongCourse__block-info__author-img {
    width: 22vw;
    height: 22vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 250px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    margin: 16px 0;
}

.LongCourse__block-info__author-img__irina_isaeva {
    background-image: url('../../images/team/irina_isaeva.jpg');
}

.LongCourse__block-info__name {
    margin-top: 16px;

    font-size: 22px;
    line-height: 22px;
}

.Course_contact-block {
    padding: 32px calc(5% + 30px);
    width: calc(100% - 2 * calc(5% + 30px));
    max-width: calc(100% - 2 * calc(5% + 30px));

    display: flex;
    align-items: center;
    justify-content: center;
}

.Course_contact-block__form {
    width: 80%;
    max-width: 600px;
}

@media (max-width: 767px) {
    div .LongCourse__block-info {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .LongCourse__block-info__course {
        padding: 32px;
        width: calc(100% - 64px);
        border-right: none;
        border-bottom: 1px solid var(--dark-1);

        display: flex;
        flex-direction: column;
    }

    .LongCourse__block-info__author {
        padding: 32px;
    }

    .LongCourse__block-info__author {
        display: flex;
        flex-direction: column;
        padding: 32px 16px;
        width: calc(100% - 32px);
    }

    .LongCourse__block-info__author-img {
        width: 200px;
        height: 200px;
    }

    .Course_contact-block {
        padding: 32px 0;
        width: 100%;
        max-width: 100% ;
    }

    .Course_contact-block__form {
        padding: 0 16px;
        width: calc(100% - 32px);
        max-width: 600px;
    }
}
