.BlockTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 32px;
    line-height: 32px;

    letter-spacing: 3px;
    text-transform: uppercase;

    padding: 48px calc(5% + 30px);

    color: var(--primary-1);
    font-weight: 600;

    max-width: calc(100% - 2 * calc(5% + 30px));
}

@media (max-width: 1024px) {
    .BlockTitle {
        max-width: calc(100% - 2 * calc(5% + 30px));
    }
}

@media (max-width: 767px) {
    .BlockTitle {
        font-size: 16px;
        line-height: 16px;

        padding: 32px 0;
        justify-content: center;
        max-width: 100% ;
    }
}
