.Card {
    padding: 16px;
    border: 1px solid var(--dark-1);
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
}

.Card__title {
    font-weight: 600;
    font-size: 22px;

    text-align: center;
    letter-spacing: 1.5px;
}

.Card__text {
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
    /* or 150% */

    letter-spacing: 1.5px;
}

@media (max-width: 1440px) {
    .Card {
        height: 267px;
    }
}

@media (max-width: 1170px) {
    .Card {
        height: 270px;
    }
}
@media (max-width: 1026px) {
    .Card {
        height: 290px;
    }
}
@media (max-width: 1022px) {
    .Card {
        height: 210px;
    }
}
@media (max-width: 1022px) {
    .Card {
        height: 260px;
    }
}
@media (max-width: 767px) {
    .Card {
        padding: 8px;
        margin: 0 8px;
        border: none;
        height: auto;
    }
}
