.TeamCard {
    padding: 16px;
    border: 1px solid var(--dark-1);
    margin: 0 16px;
    display: flex;
    align-items: center;
    height: max-content;
}

.TeamCard__name {
    font-weight: 600;
    font-size: 22px;

    text-align: center;
    letter-spacing: 1.5px;
}

.TeamCard__avatar {
    width: 450px;
    min-width: 450px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 16px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    border-radius: 250px;
}

.TeamCard__body {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0 32px;
}

.TeamCard__info {
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
    /* or 150% */

    letter-spacing: 1.5px;
}

@media (max-width: 1024px) {
    .TeamCard__avatar {
        width: 300px;
        min-width: 300px;
        height: 300px;
    }
}

@media (max-width: 767px) {
    .TeamCard {
        flex-direction: column;
        border: none;
    }

    .TeamCard__avatar {
        width: calc(100vw - 164px);
        min-width: calc(100vw - 164px);;
        height: calc(100vw - 164px);
    }
}
