.Header {
    display: flex;
    align-items: center;

    padding: 0 30px;

    
    height: 72px;

    border-bottom: 1px solid var(--dark-1);
}

.Header__logo-and-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: calc(120px + 600px + 32px + 16px);
    width: 70%;
}

.Header_logo {
    width: 10%;
}

.Header_navbar {
    width: 60%;
    min-width: 600px;
    justify-content: flex-end;
    margin-right: 32px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .Header {
        flex-direction: column;
        border-bottom: none;
    }
    .Header_logo {
        display: none;
    }

    .Header__logo-and-nav {
        width: 100%;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .Header {
        flex-direction: column;
    }

    .Header_logo {
        display: none;
    }
}
