.App {
  text-align: center;
}

.Page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 70px;
}

.Page__block {
  width: 100%;
  border-bottom: 1px solid var(--dark-1);
}

.Page__block__text {
  padding: 0 calc(5% + 30px);
  width: calc(100% - 2 * calc(5% + 30px));
}

.Page__block__text__header {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.Page__block__text__header strong {
  margin-bottom: 8px;
}

.Page__block__text__header span {
  color: var(--primary-1);
}

.Page__block__text__header .Link {
  margin-top: 8px;
}

.Page__block__text__info {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.Page__block__text__info .Icon {
  margin-right: 8px;
}

.Page__block__text__info + .Page__block__text__info {
  margin-top: 8px;
}

.Page__block__text__info strong {
  margin-right: 8px;
}

.Page__devider {
  display: flex;
  justify-content: center;
  margin: 48px 48px;
  background-size: cover;
}

.Page__loader {
  padding: 64px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 128px - 73px - 129px - 96px - 9px - 128px - 4px);
}

@media (max-width: 767px) {
  .Page__block {
    overflow-x: hidden;
  }

  .Page__block__text {
    padding: 0 calc(5% + 30px);
    width: calc(100% - 2 * calc(5% + 30px));
  }

}
