.App {
  text-align: center;
}

.Page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Page__block {
  width: 100%;
  border-bottom: 1px solid var(--dark-1);
}

.Page__block__text {
  padding: 0 calc(5% + 30px);
  width: calc(100% - 2 * calc(5% + 30px));
}

.Page__devider {
  display: flex;
  justify-content: center;
  margin: 48px 48px;
  background-size: cover;
}

@media (max-width: 767px) {
  .Page__block {
    overflow-x: hidden;
  }

  .Page__block__text {
    padding: 0 calc(5% + 30px);
    width: calc(100% - 2 * calc(5% + 30px));
  }

}
