@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --light-1: #FAFAFA;
  --light-2: #F0EEF0;
  --dark-1: rgba(0, 0, 0, 1);
  --dark-2: rgba(0, 0, 0, .7);
  --primary-1: #535E51;
  --primary-2: #A6BA87;
}

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #FAFAFA;
  height: 100%;
}
