.Contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 30%;
    min-width: 340px;

    border-left: 1px solid var(--dark-1);
}

.Contacts_icons {
    display: flex;
    width: max-content;
    margin-left: 32px;
}

.Contacts_icons .Icon {
    margin-right: 16px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .Contacts {
        display: none;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .Contacts {
        display: none;
    }
}
